[submodule "worldmods/cheese"]
	path = worldmods/cheese
	url = https://github.com/Follpvosten/cheese.git
[submodule "worldmods/minetest_hudbars"]
	path = worldmods/minetest_hudbars
	url = https://git.karpador.xyz/repo.or.cz/minetest_hudbars.git
[submodule "worldmods/minetest_hbhunger"]
	path = worldmods/minetest_hbhunger
	url = https://git.karpador.xyz/repo.or.cz/minetest_hbhunger.git
[submodule "worldmods/hbsprint"]
	path = worldmods/hbsprint
	url = https://git.karpador.xyz/gh/hbsprint.git
[submodule "worldmods/mobs_redo"]
	path = worldmods/mobs_redo
	url = https://git.karpador.xyz/notabug/mobs_redo.git
[submodule "worldmods/mobs_animal"]
	path = worldmods/mobs_animal
	url = https://git.karpador.xyz/notabug/mobs_animal.git
[submodule "worldmods/dfcaverns"]
	path = worldmods/dfcaverns
	url = https://git.karpador.xyz/gh/dfcaverns.git
[submodule "worldmods/magma_conduits"]
	path = worldmods/magma_conduits
	url = https://git.karpador.xyz/gh/magma_conduits.git
[submodule "worldmods/minetest_doc_modpack"]
	path = worldmods/minetest_doc_modpack
	url = https://git.karpador.xyz/repo.or.cz/minetest_doc_modpack.git
[submodule "worldmods/minetest-illumination"]
	path = worldmods/minetest-illumination
	url = https://git.karpador.xyz/notabug/minetest-illumination.git
[submodule "worldmods/3d_armor"]
	path = worldmods/3d_armor
	url = https://git.karpador.xyz/gh/3d_armor.git
[submodule "worldmods/minetest_doc_minetest_game"]
	path = worldmods/minetest_doc_minetest_game
	url = https://git.karpador.xyz/repo.or.cz/minetest_doc_minetest_game.git
[submodule "worldmods/ambience"]
	path = worldmods/ambience
	url = https://git.karpador.xyz/notabug/ambience.git
[submodule "worldmods/goblins"]
	path = worldmods/goblins
	url = https://git.karpador.xyz/gh/goblins.git
[submodule "worldmods/skinsdb"]
	path = worldmods/skinsdb
	url = https://git.karpador.xyz/gh/skinsdb.git
[submodule "worldmods/signs_lib"]
	path = worldmods/signs_lib
	url = https://git.karpador.xyz/gl/signs_lib.git
[submodule "worldmods/ethereal"]
	path = worldmods/ethereal
	url = https://git.karpador.xyz/notabug/ethereal.git
[submodule "worldmods/lumberjack"]
	path = worldmods/lumberjack
	url = https://git.karpador.xyz/gh/lumberjack.git
[submodule "worldmods/plantlife_modpack"]
	path = worldmods/plantlife_modpack
	url = https://git.karpador.xyz/gl/plantlife_modpack.git
[submodule "worldmods/biome_lib"]
	path = worldmods/biome_lib
	url = https://git.karpador.xyz/gl/biome_lib.git
[submodule "worldmods/cloudlands"]
	path = worldmods/cloudlands
	url = https://git.karpador.xyz/gh/cloudlands.git
[submodule "worldmods/regrowing_fruits"]
	path = worldmods/regrowing_fruits
	url = https://git.karpador.xyz/Follpvosten/regrowing_fruits.git
[submodule "worldmods/whitelist"]
	path = worldmods/whitelist
	url = https://git.karpador.xyz/gl/whitelist.git
[submodule "worldmods/craftguide"]
	path = worldmods/craftguide
	url = https://git.karpador.xyz/gh/craftguide.git
[submodule "worldmods/item_drop"]
	path = worldmods/item_drop
	url = https://git.karpador.xyz/gh/item_drop.git
[submodule "worldmods/mobkit"]
	path = worldmods/mobkit
	url = https://git.karpador.xyz/gh/mobkit.git
[submodule "worldmods/petz"]
	path = worldmods/petz
	url = https://git.karpador.xyz/gh/petz.git
[submodule "worldmods/moreores"]
	path = worldmods/moreores
	url = https://git.karpador.xyz/gh/moreores.git
[submodule "worldmods/mesecons"]
	path = worldmods/mesecons
	url = https://git.karpador.xyz/gh/mesecons.git
[submodule "worldmods/serveressentials"]
	path = worldmods/serveressentials
	url = https://git.karpador.xyz/gh/serveressentials.git
[submodule "worldmods/minetest-telegram"]
	path = worldmods/minetest-telegram
	url = https://git.karpador.xyz/gh/minetest-telegram.git
