[submodule "worldmods/cheese"]
	path = worldmods/cheese
	url = https://github.com/Follpvosten/cheese.git
[submodule "worldmods/minetest_hudbars"]
	path = worldmods/minetest_hudbars
	url = https://repo.or.cz/minetest_hudbars.git
[submodule "worldmods/minetest_hbhunger"]
	path = worldmods/minetest_hbhunger
	url = https://repo.or.cz/minetest_hbhunger.git
[submodule "worldmods/hbsprint"]
	path = worldmods/hbsprint
	url = https://github.com/minetest-mods/hbsprint.git
[submodule "worldmods/mobs_redo"]
	path = worldmods/mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "worldmods/mobs_animal"]
	path = worldmods/mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal.git
[submodule "worldmods/dfcaverns"]
	path = worldmods/dfcaverns
	url = https://github.com/FaceDeer/dfcaverns.git
[submodule "worldmods/magma_conduits"]
	path = worldmods/magma_conduits
	url = https://github.com/minetest-mods/magma_conduits.git
[submodule "worldmods/minetest_doc_modpack"]
	path = worldmods/minetest_doc_modpack
	url = https://repo.or.cz/minetest_doc_modpack.git
[submodule "worldmods/minetest-illumination"]
	path = worldmods/minetest-illumination
	url = https://notabug.org/Piezo_/minetest-illumination.git
[submodule "worldmods/3d_armor"]
	path = worldmods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
